<h2>Showing Branch <%= link_to @branch.name, git_branch_path(@git, @branch) %> (from <%= link_to @git.name, git_path(@git) %>)</h2>
<div class="child"><%= link_to "#{@branch.commits.size} Commits", git_branch_commits_path(@git, @branch) %></div>