/* Global Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
table { border-spacing: 0; }
acronym { cursor: help; }

body { margin: 0px; background: no-repeat left left #0B1E39; font-family: 'Helvetica Neue', 'Arial'; font-size: 100%; border-top: solid 10px #004273; }
h1, h2, h3, h4, h5 { color: #004273; }
h1 { font-size: 270%; }
h1 a, h1 a:visited { text-decoration: none; color: #004273; }
h1 a:hover { text-decoration: underline; }
h2 { font-size: 160%; }
h3 { font-size: 150%; }
h4 { font-size: 140%; }
h5 { font-size: 130%; }
a, a:visited, a:hover { color: #fff; }
hr { border: none; border-top: 1px solid #ddd; }

div.wrapper { width: 700px; text-align: left; position: relative; top: 50px; left: 50px; }
div.wrapper p { line-height: 30px; }
div.wrapper p span { background: #004273; padding: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
div.wrapper div.white { background: #fff; margin-top: 10px; padding: 3px; }
div.wrapper div.credits { text-align: right; margin-top: 10px; padding-top: 5px; border-top: solid 1px #08172B; width: 100%; font-size: 90%; }
div.child { margin-top: 10px; list-style: none; background: #08172B; padding: 3px 10px 3px; color: #fff; }

p a.button, p a.button:visited { font-weight: bold; text-shadow: #519548 0px 1px 1px; text-decoration: none; color: #fff; padding: 8px 17px; margin: 5px; background: url('/images/button-bg.png') repeat-x #88C425; border: 1px solid #BEF202; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
p a.button:hover { background: url('/images/button-bg-hover.png') repeat-x #BEF202; }
p { color: #fff; }
p i { color: #000; text-decoration: underline; padding-left: 35px; }
p.flash_notice { color: #000; }

/* Styles for form */
form.formtastic { font-size: 90%; }
form.formtastic p { margin-top: 5px; margin-right: 5px; float: right; }
form.formtastic p.inline-errors { display: block; color: #aa0000; text-align: left; margin: 5px; }
form.formtastic li { margin-top: 10px; list-style: none; background: #08172B; padding: 3px 10px 3px; color: #fff; }
form.formtastic li input, form.formtastic textarea, form.formtastic select { padding: 4px; margin: 5px; color: #fff; }
form.formtastic li input:focus, form.formtastic textarea:focus, form.formtastic select:focus { background: #F7F7F7; padding: 4px; }
form.formtastic label { font-weight: bold; display: inline; }
form.formtastic label abbr { font-weight: normal; color: #ff0000; }
form.formtastic fieldset ol li { margin: 0px; }
form.formtastic p input { border: none; background: #004273; color: #fff; cursor: pointer; padding: 7px 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px; font-weight: bold; text-shadow: #333 0px 1px 1px; }