<h1>New Log</h1>

<% semantic_form_for @log, :html => { :multipart => true, :method => :post } do |f| %>
  <%= render(:partial => "form", :locals => { :f => f }) %>
  <p><%= f.submit "Upload" %></p>
<% end %>